div {
    margin: 0em;
    padding: 2em;
}
#drop_zone {
    margin:40px;
    border: 2px solid #e4e2e2;
    border-style: dashed;
    border-radius: 10px;
    width:  90%;
    height: 5%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /*transition: .25s;*/
}

.drop-content {
    font-family: 'Poppins', sans-serif;
    color: #877273;
    text-align:center;
    
}
.drop-content #drop-title{
    position:absolute;
    font-weight: 500;
    color:#4A4A4A
}

.drop-content i{
    font-size:3rem;
    color:#CFA8A0;
    
 
}
.drop-content small{
    color:#999;
    font: size 0.2em;
}

.formAgregar{
    border: 2px solid #e4e2e2;
    border-style: solid;
    border-radius: 15px;
    margin: 40px;
}

.formAgregarEsp{
    border-radius: 10px;  
    background-color: #f5f3f3;
}

.formAgregarEsp label{
    font-family: 'Nunito Rounded', sans-serif;
    text-transform: uppercase;
    font-weight:600;
    color: #4A4A4A;
}

.formAgregar .titleEsp{
    color: #5B0519;
}
.main-title {
    color: #7A1F2D; /* Vino */
    font-size: 2rem;
}

.tag{
    background-color: #8c4327 ;
    color: white;
    border-radius: 12px;
    border-style: solid;
    border-color:  #8c4327;
}

.tag-añadir{
    /*background-color: #8c4327 ;*/
    color: #877273;
    border-radius: 12px;
    border-style:dashed;
    border-width: 1px;
    border-color:  #877273;
}

.form-label{
    font-family: 'Nunito Rounded', sans-serif; ;
    font-size: 0.7em;
    font-weight: 600;
    color: #4A4A4A;
}

.titleEsp{
    color: #5B0519;
}
.formAgregarEsp i{
    color: #5B0519;
}

.form-range{
    --bs-form-range-thumb-bg: #dc3545;
}

.btn-agregar {
    background-color: #7A1F2D; /* Color vino principal del botón */
    border: none;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

.btn-agregar:hover {
    background-color: #7A1F2D;
}

.text-wine {
    color: #7A1F2D;
}
.text-wine:hover {
    text-decoration: underline !important;
}