:root {
    --coal: #222222;
    --sand: #D8C7A1;
    --wine: #7A1F2D;
    --broken-white: #F8F5EF;
    --copper: #8F4A2C;
    --gray: #808080;
    --pink: #E8DFDD;
    --soft-pink: #EEE8E6;
    --salmon: #FFDBCE;
    --darker-gray: #564243;
    --peach-fizz: #FFAA80;
    --white: #FFFFFF;
    --lighter-gray: #F8F7F6;
    --light-gray: #E8E7E6;

    --titles: "Sora", sans-serif;
    --text-footer: "Poppins", sans-serif;
    --buttons: "Nunito", sans-serif;

}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

input::placeholder {
    font-size: 1.5rem;
    color: #888888;
}

input[type="radio"] {
  accent-color: #800020; 
  width: 1.2rem;        
  
}

.regular-font-size {
    font-size: 1.7rem;
}

.heading-two {
    color: var(--wine);
    font-size: 3rem;
    margin-bottom: 3rem;
}

.my-container {
    width: min(120rem, 100%);
    margin: 0 auto;
    padding-inline: 1.5rem;
}

.text-center {
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.my-container .logo {
    height: 10rem;
}

.checkout-steps {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0;
}

/* Individual step */

.checkout-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
}

/* Circle */

.step-circle {
    width: 30px;
    height: 30px;

    border: 1px solid #D8D8D8;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--off-white);
    color: #B8B0AA;

    font-size: 13px;
    font-weight: 500;
}

/* Step text */

.step-title {
    margin-top: 10px;

    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;

    color: #B8B0AA;
}

/* Completed step */

.checkout-step.completed .step-circle {
    background-color: var(--sand);
    border-color: var(--sand);
    color: var(--charcoal);
}

/* Active step */

.checkout-step.active .step-circle {
    background-color: var(--wine);
    border-color: var(--wine);
    color: var(--broken-white);
}

.checkout-step.active .step-title {
    color: var(--wine);
}

/* Connecting lines */

.step-line {
    width: 100%;
    height: 1px;

    background-color: #E6E0DA;

    margin-top: 1.5rem;
}

/* Main */

@media (min-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: 60% 40%;
        column-gap: 2.5rem;
    }
}

.main-first-section-container {
    background-color: var(--lighter-gray);
    padding: 3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

@media (min-width: 576px) {
    .shipping-address {
        padding: 3rem 2rem;
    }
}

.shipping-address--container {
    width: min(50rem, 100%);
    margin: 0 auto;
}

.shipping-address h2 {
    color: var(--wine);
    font-size: 3rem;
    margin-bottom: 3rem;
}

.field {
    width: 100%;
}

.field label {
    color: var(--wine);
    font-weight: 700;
}

.field input {
    width: 100%;
    border: .5px solid var(--copper);
    background: transparent;
    height: 3rem;
}

/*  The three form Fields  */

.name-fields,
.address-field,
.city-zip-country-fields,
.city-field,
.zip-field {
    margin-bottom: 1.5rem;
}

@media (min-width: 576px) {
    .name-fields {
        display: flex;
        justify-content: center;
        column-gap: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 576px) {
    .address-field {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 576px) {
    .city-zip-country-fields {
        display: flex;
        justify-content: center;
        column-gap: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.city-zip-country-fields input,
.city-zip-country-fields select {
    width: 100%;
}

/*  Payment Method  */

.payment-method-container {
    background-color: var(--broken-white);
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 1rem;
}

.field-option-container {
    width: 100%;
    border: 3px solid var(--wine);
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    margin-bottom: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 0 1rem;
}

@media (min-width: 780px) {
    .field-option-container {
        width: 100%;
        border: 3px solid var(--wine);
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 2rem;
        margin-bottom: 2rem;
        background-color: var(--white);
        border-radius: 1rem;
        padding: 0 2rem;
    }
}

.payment-method {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;
}

@media (min-width: 768px) {
    .payment-method {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 2rem;
    }
}

.payment-method__name {
    font-size: 1.5rem;
}

.payment-method-details {
    display: flex;
    column-gap: 1.5rem;
}

.payment-method-details svg {
    margin-top: 1rem;
}

.payment-method__icon {
    display: flex;
    flex-direction: column;
}

@media (min-width: 425px) {
    .payment-method__icon {
        display: flex;
        flex-direction: row;
        column-gap: 1.5rem;
    }
}

.payment-method__icon img {
    height: 3.5rem;
    width: 100%;
}

.payment-method__icon img:last-of-type {
    margin-right: 2rem;
}

@media (min-width: 770px) {
    .payment-method__icon img {
        height: 5rem;
        width: 100%;
    }

    .payment-method__icon img:last-of-type {
        margin-right: 0;
    }
}

.label-text {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.number-card {
    margin-bottom: 1.5rem;
}

.number-card label {
    color: var(--wine);
    font-size: 1.5rem;
    font-weight: 700;
}

.number-card-input input {
    width: 90%;
    height: 3rem;
    border: .5px solid var(--copper);
    background: transparent;
    font-size: 1.5rem;
}

.card-details {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.card-details field {
    margin-bottom: 1.5rem;
}

.card-expirarion-date,
.card-cvv,
.card-number {
    width: 100%;
    margin-bottom: 1.5rem;
}

.card-details input {
    height: 3rem;
    border: .5px solid var(--copper);
    background: transparent;
}

/**  Order Summary  */

.main-second-section-container {
    background-color: var(--light-gray);
    padding: 3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.order-summary-header {
    border-bottom: 1px solid var(--copper);
    margin-bottom: 3rem;
}

.order-summary-details {
    border-top: 1px solid var(--copper);
    margin-top: 3rem;
    padding-top: 3rem;
}

.order-summary-details label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.order-summary-details-total {
    color: var(--wine);
    font-size: 2rem;
    font-weight: 700;
}

.confirm-purchase {
    margin-top: 3rem;
}

.confirm-purchase-button {
    width: 100%;
    height: 5rem;
    background-color: var(--wine);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.confirm-purchase-button:hover{
    background-color: var(--copper);
}

.confirm-purchase-details {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1rem;
}

.confirm-purchase-button a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--broken-white);
    font-size: 2rem;
    font-weight: 700;
}

.security-shipping-info {
    display: flex;
    justify-content: space-between;
}

.secure-checkout {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
}

.shipping-details{
    text-align: end;
}

.shipping-details-paragraph {
    margin: 0;
}

.shipping-details-paragraph--one {
    color: var(--wine);
    font-size: 1.3rem;
}

.shipping-details-paragraph--two {
    color: var(--wine);
    font-weight: 800;
    font-size: 1.3rem;
}

.shipping-method__name {
    font-size: 1.5rem;
}

.shipping-method__details {
    font-size: 1.3rem;
}