:root { 
    --color-primario: #222222;      /* negro → fuerte, elegante */
    --color-secundario: #D8C7A1;    /* beige → suave */
    --color-terciario: #7A1F2D;     /* vino → acento */
    --color-cuaternario: #F8F5EF;   /* fondo */
    --color-texto: #8F4A2C;         /* texto */
}

body {
  background-color: var(--color-cuaternario)
}

/* nosotros */
.header{
  width: 1280px;
  height: 200px;
}
.header h1{
  color: var(--color-terciario);
  font-size: 72px;
}
.header p{
  color: #A39E93;
  font-style: italic;
  font-size: 16px;
}

.space{
  height: 116px;
  color:#FFFFFF;
}

.nosotros card{
  width: 192px;
  height: 334px;
}

.nosotros card img{
  max-width: 280px auto;
  height: 176px;
}

