:root {
    --primario: #222222; 
    --secundario: #D8C7A1;
    --terceario: #7A1F2D;
    --cuaternario: #F8F5EF;
    --texto: #8F4A2C;
}

.h1{
    color: var(--terceario);
    font-family: "Sora" !important;
    font-weight: bold;
}


.texto{
    font-family: "Poppins";
} 